body {
    background-color: #fff !important;
    padding: 0 0 30px;
}

.ant-advanced-search-form {
    margin: 20px 0;
}

.alert {
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 99999;
    background: #fff;
    width: 300px;
    height: 150px;
}

.block_title {
    font-size: 16px;
    margin: 10px 0;
}

.home .am-search {
    background-color: #fff !important;
    border: 1px #ddd solid;
}

.home .am-navbar {
    background-color: #59d6ac;
}

.home-banner {
    position: relative;
}

.home-banner-text {
    position: absolute;
    left: 20px;
    top: 30px;
}

.home-banner-name {
    font-size: 20px;
    margin: 10px 0;
    text-align: center;
}

.home-banner-title {
    font-size: 28px;
}

.home .block_title {
    background: #59d6ac;
    color: #fff;
    width: 160px;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    margin-left: -20px;
}

.am-button-borderfix.am-button-icon {
    display: inline-flex;
}

.panel {
    background: #59d6ac;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
    padding: 5px;
}

.grid-user{
    display: flex;
}

.user_item{
  flex: 1;
  align-items: baseline;
  flex-direction: inherit;
  margin:10px;
}

.user_item .head {
    padding:10px;
    text-align: center;
}

.head img{
    max-width: 100px;
}

.head .name {
    color:#0792e2;
    font-size: 16px;
}

.doctor-notice {
    border-bottom:1px #ddd solid;
}

.doctor-notice .time{
    background-color: #0792e2;
    text-align: center;
    color:#fff;
    padding: 5px;
}

.doctor-notice .doctor-notice-content{
    display: flex;
}

.doctor-notice-content .doc-thumb{
    overflow: hidden;
    flex: 1;
    padding: 5px;
}

.doc-thumb img{
    max-width: 100%;
}

.doctor-notice-content .tips {
    flex: 4;
    padding: 5px;
}

.doctor-notice-content .share-btn{
    flex: 1;
    padding: 5px;
}

.share-btn button{
    margin: 10px;
}

.top-notice{
    padding: 10px;
}

.base-center{
    padding:20px;
    border-top:1px #ddd solid;
    border-bottom:1px #ddd solid;
}