
@import '//at.alicdn.com/t/font_666180_ro6maz7mw50o1or.css';

body {
    background-color: #fff !important;
    padding: 0 0 30px;
}

.home{
    max-width: 600px;
    margin:auto;
}

.ant-advanced-search-form {
    margin: 20px 0;
}

.alert {
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 99999;
    background: #fff;
    width: 300px;
    height: 150px;
}

.block_title {
    font-size: 16px;
    margin: 10px 0;
}

.home .am-search {
    background-color: #fff !important;
    border: 1px #ddd solid;
}

.home .am-navbar {
    background-color: #59d6ac;
}

.home-banner {
    position: relative;
}

.home-banner-text {
    position: absolute;
    left: 20px;
    top: 30px;
}

.home-banner-name {
    font-size: 20px;
    margin: 10px 0;
    text-align: center;
}

.home-banner-title {
    font-size: 28px;
}

.home .block_title {
    background: #59d6ac;
    color: #fff;
    width: 160px;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    margin-left: -20px;
}

.home .block_title_l {
    display: block;
    background: #59d6ac;
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

.am-button-borderfix.am-button-icon {
    display: inline-flex;
}

.panel {
    background: #59d6ac;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
    padding: 5px;
}

.grid-user {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.user_item {
    align-items: baseline;
    flex-direction: inherit;
    margin: 10px;
    flex: 1;
    max-width: 100px;
    text-align: center;
}

.user_item .head {
    padding: 10px;
    text-align: center;
    word-wrap:break-word;
    word-break: break-all;
}

.user_item .peps{
    color:#999;
}

.head img {
    width:60px;
    border: 1px #ddd solid;
    border-radius: 50%;
    height: 60px;
}

.head .name {
    color: #0792e2;
    font-size: 12px;
}

.peps {
    text-align: center;
}

.p_btn {
    padding: 5px;
}

.doctor-notice {
    border-bottom: 1px #ddd solid;
}

.doctor-notice .time {
    background-color: #0792e2;
    text-align: center;
    color: #fff;
    padding: 5px;
}

.doctor-notice .doctor-notice-content {
    display: flex;
}

.doctor-notice-content .doc-thumb {
    overflow: hidden;
    flex: 1;
    padding: 5px;
}

.doc-thumb img {
    width: 100%;
    height: 60px;
}

.doctor-notice-content .tips {
    flex: 4;
    padding: 5px;
    font-weight: bold;
    font-size: 16px;
}

.doctor-notice-content .share-btn {
    flex: 1;
    padding: 5px;
}

.share-btn button {
    margin: 10px;
}

.top-notice {
    padding: 10px;
}

.base-center {
    padding: 20px;
    border-top: 1px #ddd solid;
    border-bottom: 1px #ddd solid;
}

.group-upload {
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.box-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    transform-origin: 50% 50%;
    transform: scale(1);
    transition: all .2s ease-in-out;
}

.box-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-icon i.icon {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px dashed #d0d0d0;
    background: #fdfdfd;
    border-radius: 10px;
    z-index: 1;
    transition: all .4s ease-in-out;
}

.box-icon i.icon:before {
    content: '+';
    position: absolute;
    font-size: 100px;
    color: #ddd;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a.button-remove {
    text-decoration: none;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 3;
    display: flex;
    background: rgba(208, 208, 208, 0.41);
    ;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    overflow: hidden;
}

.icon-remove:before {
    content: "\00d7";
}

input:hover~.box-icon i.icon {
    background: #fbf8f8;
}

input:active~.box-icon {
    transform: scale(0.95);
}

.group-upload input.input-file {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

.box-image {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 0 10px 10px 0;
    vertical-align: top;
    position: relative;
}

.box-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home .top_index_header .logo {
    width: 120px;
}

.top_index_header .logo img {
    max-width: 100%;
}

.top_index_header .time {
    padding: 0 10px;
    font-size: 12px;
}

.top_index_header .buttons .am-button {
    margin-right: 2px;
}

.home-menu {
    border-top: 3px #f00 solid;
    background: #59d6ac;
}

.home-menu a {
    display: inline-block;
    width: 33%;
    text-align: center;
    padding: 8px 0;
    color: #fff;
}

.home-carouel img {
    width: 100%;
}

.yf-test {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-top: 2px #f00 solid;
    clear: both;
    margin-top: 50px;
    line-height: 60px;
}

.qusetuo {
    border: 1px #f5eece solid;
    background: #FFF9DB;
    margin: -12px 0 8px;
    position: relative;
    padding: 10px;
    border-radius: 5px;
}

.space-carousel {
    padding: 16px;
    background: #DEF1E5;
    overflow: hidden;
}

.home .head {
    /* width: 60px; */
}

.a-title {
    text-align: center;
    padding: 20px;
    font-size: 20px;
    border-bottom: 1px #ddd solid;
}

.chooseName {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: 58px;
    height: 22px;
    word-break: keep-all;
    line-height: 23px;
}

.buttom-title {
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

.am-list-b {
    padding: 8px;
    text-align: right;
}

.qus_content {
    padding: 10px;
}

.qus_textarea {
    background: #f1f1f1;
}

.headshot {
    background: #d0d0d0;
    width:150px;
    height: 150px;
    border:1px #ddd solid;
    border-radius: 50%;
}

.mini-time {
    font-size: 12px;
}

.reply-content{
    font-size: 12px;
    background-color:#c4ffebcf;
    padding:5px;
}

.share{
    padding: 10px;
}

.share a{
    margin-right: 10px;
}

.ad-img{
    position: relative;
}

.ad-img [class^='btn-ad-']{
    position: absolute;
    display: block;
    width:400px;
    height: 85px;
}

.btn-ad-a {
    top:172px;
    right:34px;
}

.btn-ad-b {
    top:272px;
    right:34px;
}



.cbsfooter{margin-top:10px;}
.text-center {
    text-align: center;
}
.copy_right {
    width: 100%;
}
.list-inline {
    list-style: outside none none;
    margin-left: -5px;
    padding-left: 0;
}
.list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}
ul, li {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.cbsfooter a {
    color: #277f99;
    cursor: pointer;
    text-decoration: none;
}